---
layout: default
---


<div class="container-small">
  <h1 class="text-center">ATLAS of WEAK SIGNALS</h1>

  <div class="content">
    <div class="wrapper">
    {{ content }}
    </div>
  </div>


  <!-- {% assign reflections = site.reflections | where: "published", true | sort: "date", "last" %} -->


  <div class="post-list">
    {% for AWS in site.AWS %}
    <article>
      <h2 class="post-title"><a href="{{ AWS.url | relative_url }}">{{ AWS.title }}</a></h2>
      <div class="post-period">{{ AWS.period }}</div>
    </article>
    {% endfor %}
  </div>
