---
layout: default
---

<div class="container-small">
  <h1 class="text-center">Final Project</h1>

  <div class="content">
    <div class="wrapper">
    {{ content }}
    </div>
  </div>


  <!-- {% assign reflections = site.reflections | where: "published", true | sort: "date", "last" %} -->


  <div class="post-list">
    {% for fproject in site.fproject %}
    <article>
      <h2 class="post-title"><a href="{{ fproject.url | relative_url }}">{{ fproject.title }}</a></h2>
      <div class="post-period">{{ fproject.period }}</div>
    </article>
    {% endfor %}
  </div>



</div>
