---
layout: default
---


<div class="container-small">
  <h1 class="text-center">TERM 3</h1>

  <div class="content">
    <div class="wrapper">
    {{ content }}
    </div>
  </div>


  <!-- {% assign reflections = site.reflections | where: "published", true | sort: "date", "last" %} -->


  <div class="post-list">
    {% for term-3 in site.term-3 %}
    <article>
      <h2 class="post-title"><a href="{{ term-3.url | relative_url }}">{{ term-3.title }}</a></h2>
      <div class="post-period">{{ term-3.period }}</div>
    </article>
    {% endfor %}
  </div>



</div>
